<% if false %>
  
<%= stylesheet_link_tag 'products_index' %>
<% if true %>
  <main>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @products.each do |product| %>
          <div class="col" >
            <div class="card shadow-sm" style='height:100%'>
              <% if product.images.attached? %>
                <%= image_tag(product.images.first, :class => "bd-placeholder-img card-img-top", style: 'height: 100%; width 225;')%>
              <% else %>
              <a href="<%= product_url(product.id) %>">
                <img src="https://images.pexels.com/photos/170811/pexels-photo-170811.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="" class='bd-placeholder-img card-img-top', 
                          style='height: 100%; width 225;'>
                          </a>
              <% end %>
              <div class="card-body">
                <p class="card-text"><%= product.short_description %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <%= link_to 'Show', product_url(product.id), class: 'btn btn-sm btn-outline-secondary', type: 'button' %>
                    <%= link_to 'Buy', new_order_path(
                                          :product_id => product.id, 
                                          :seller_id => product.campaign_id,
                                          :product_name => product.title ), class: 'btn btn-sm btn-outline-secondary', type: 'button' %>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                  </div>
                  <small class="text-muted"><%= product.price %>   ZŁ</small>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</main>
<% end %>
<% end %>

<div class="container pb-5 mb-sm-2" style='margin-top: 3vh'>
    <!-- Categories grid-->
    <div class="row no-gutters">
        <!-- Category-->
        <% @categories.each do |category| %>
            <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
                    <div class="card border-0">
                        <a class="d-block" href="<%= category_url(category) %>"><img class="d-block" height='232px' src="<%= category.image_url %>" alt="Video Games"></a>
                        <div class="card-body pb-2">
                            <h2 class="h6 mb-2">
                            <%= link_to category.name, category_url(category) %>
                            </h2>
                            <span class="d-block mb-3 font-size-xs text-muted">Starting from <span class="font-weight-semibold">$19.00</span></span>
                            <div class="list-group list-group-flush font-size-sm">
                            
            <% @sub_categories.each do |sub_category| %>
        
                
                            <% if sub_category.category_id == category.id %>
                              <a class="list-group-item list-group-item-action" href="<%= sub_category_url(sub_category) %>">
                               <%= sub_category.name %>
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right ml-1" style="width: .875rem; height: .875rem;">
                                <polyline points="9 18 15 12 9 6"></polyline></svg></a>
                            <% end %>
                            
                            
                            
            <% end %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
    </div>
</div>