<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<%= stylesheet_link_tag 'campaign_new' %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<section class="testimonial py-5" id="testimonial" style='margin-top: -10vh;'>
    <div class="container">
        <div class="row ">
            <div class="col-md-4 py-5 bg-primary text-white text-center ">
                <div class=" ">
                    <div class="card-body">
                        <img src="http://www.ansonika.com/mavia/img/registration_bg.svg" style="width:30%">
                        <h2 class="py-3">Sign up</h2>
                        <p>
                        Some sign up welcome text
                        Some sign up welcome text
                        Some sign up welcome text
                        Some sign up welcome text
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 py-5 border">
                <h4 class="pb-4">Please fill your camraign's details</h4>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <%= f.text_field :campaign_name, autofocus: true, autocomplete: "campaign name", 
                                                            placeholder: 'Campaign name', class: 'form-control' %>
                        </div>
                        <div class="form-group col-md-6">
                          <%= f.email_field :email, autofocus: true, autocomplete: "email", 
                                                    placeholder: 'Email', class: 'form-control', id: 'inputEmail4'%>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <%= f.number_field :area_code, autofocus: true, autocomplete: "area code", 
                                                      placeholder: 'Area code', class: 'form-control' %>
                        </div>
                        <div class="form-group col-md-9">
                            <%= f.number_field :contact_phone_number, autofocus: true, autocomplete: "Phone", 
                                                      placeholder: 'Phone', class: 'form-control' %>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <%= f.text_field :country, autofocus: true, autocomplete: "country", 
                                                            placeholder: 'Сountry', class: 'form-control' %>
                        </div>
                        <div class="form-group col-md-6">
                          <%= f.text_field :town, autofocus: true, autocomplete: "town", 
                                                    placeholder: 'Town', class: 'form-control'%>
                        </div>
                        
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <%= f.text_field :first_adress_line, autofocus: true, autocomplete: "firt adress line", 
                                                            placeholder: 'First adress line', class: 'form-control' %>
                        </div>
                        <div class="form-group col-md-6">
                          <%= f.text_field :second_adress_line, autofocus: true, autocomplete: "Second adress line", 
                                                    placeholder: 'Second adress line', class: 'form-control'%>
                        </div>
                        <div class="form-group col-md-3">
                          <%= f.text_field :zip_code, autofocus: true, autocomplete: "zip-code", 
                                                    placeholder: 'Zip-code', class: 'form-control'%>
                        </div>
                        <div class="form-group col-md-9">
                          <%= f.number_field :nip, autofocus: true, autocomplete: "NIP", 
                                                            placeholder: 'NIP', class: 'form-control' %>
                        </div>
                  
                    </div>
                    <div class="form-row">

                      <div class="form-group col-md-6">
                        <%= f.password_field :password, autocomplete: "new-password", 
                                              class: 'form-control', type: 'password', placeholder: 'Password' %>
             
                      </div>
                      <div class="form-group col-md-6">
                        <%= f.password_field :password_confirmation, autocomplete: "new-password", 
                                              class: 'form-control', type: 'password', placeholder: 'Password confirmation' %>
             
                      </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                              <%= f.text_area :short_description, autofocus: true,  
                                              placeholder: 'Short description', class: 'form-control', 
                                              id: 'comment' %>
                        </div>
                        <div class="form-group col-md-12">
                              <%= f.text_area :description, autofocus: true,  
                                              placeholder: 'Description', class: 'form-control', 
                                              id: 'description' %>
                        </div>
                        
                    </div>
                    <% if false %>
                      <div class="form-row">
                      <div class="form-group col-md-12">
                        <%= f.file_field :logo, class: 'form-control', type: 'file', id:'formFileDisabled' %>
                        <label for="formFileDisabled" class="form-label">You can do it later</label>
                      </div>
                    </div>
                    <% end %>
                    
                    
                    <div class="form-row">
                        <%= f.submit "Sign up", class: "btn btn-success" %>
                    </div>
                <% end %>
                <%= render "campaigns/shared/links" %>
            </div>
        </div>
    </div>
</section>
