
    

        
<% @orders.each do |order| %>
    <% if current_user %>
      <% if current_user.id == order.buyer_id %>
        <a href="<%= order_url(order)%>" class="list-group-item list-group-item-action py-3 lh-tight" style='width: 80%; margin: 0 auto; height: 10vh'>
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1"><%= order.product_name %></strong>
            <strong class="mb-3" style='margin: 0 auto;'><%= order.order_status %></strong>
            <small class="text-muted">
              <% if order.paid == 1 %>
                <p style='color:green'>PAID</p>
              <% else %>
                <p style='color:red'>NOT PAID</p>
              <% end %>
                <p style='font-size: 16px; color: black'><%= order.created_at.to_date %></p>
            </small>
          </div>
        </a>
      <% else %>
        <strong class="mb-1">You have no orders</strong>
      <% end %>
    <% elsif current_campaign %>
      <% if current_campaign.id == order.seller_id %>
         <a href="<%= order_url(order)%>" class="list-group-item list-group-item-action py-3 lh-tight" style='width: 80%; margin: 0 auto; height: 10vh'>
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1"><%= order.product_name %></strong>
            <strong class="mb-3" style='margin: 0 auto;'><%= order.order_status %></strong>
            <small class="text-muted">
              <% if order.paid == 1 %>
                <p style='color:green'>PAID</p>
              <% else %>
                <p style='color:red'>NOT PAID</p>
              <% end %>
                <p style='font-size: 16px; color: black'><%= order.created_at.to_date %></p>
            </small>
          </div>
        </a>
      <% else %>
      <% end %>
    <% end %>

<% end %>
